.navbar{
    height: 50px;
    background-color: #128C7E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    position: relative;
    padding: 0 15px;
}

.logo{
    font-weight: bold;
}

.icons{
    display: flex;
    align-items: center;
}

.icon{
    margin-left: 15px;
    cursor: pointer;
    position: relative;
}
.iconImg{
    width: 20px;
    height: 20px;
    color: white;
}

.counter{
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 50%;
    padding: 5px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -5px;
    right: -5px;
}

.notifications{
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: absolute;
    top: 50px;
    right:0;
    background-color: white;
    color: #222;
    font-weight: 300;
}

.notification{
    padding: 5px;
    font-size: 13px;
}

.nButton{
    width: 80%;
    padding: 5px;
    margin-top: 10px;
}